.main-container {
    margin          : 0 auto;
    min-height      : 100vh;
    padding         : 5%;
    background-color: #343A40;
}

.main {
    width: 100%;
}

.header {
    color: #fff;
}

.header__btn-row {
    display        : flex;
    justify-content: space-between;
}

.header__checked-row {
    display        : flex;
    justify-content: flex-end;
    width          : 100%;
}

.content {
    padding-top: 1rem;
}