.main-container {
    margin     : 0 auto;
    width      : 600px;
    height     : 100vh;
    display    : flex;
    align-items: center;
}

.main {
    width        : 100%;
    border-radius: 10px;
    overflow     : hidden;
}

.header {
    padding         : 20px;
    background-color: #343A40;
    color: #fff;
}

.header__btn-row {
    display: flex;
    justify-content: space-between;
}

.header__checked-row {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
